name: Week 6 CI
on: [push, pull_request]
jobs:
  run-notebook:
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5
      
      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: false
          python-version: "3.10"  # Quote the version number
      
      - name: Install Week 6 Dependencies
        shell: bash -l {0}
        run: |
          # Install heavy packages with Conda from the correct channels
          conda install -y -c bioconda -c conda-forge \
            simpleaf \
            pyroe \
            scanpy \
            leidenalg \
            python-igraph \
            jupyter \
            nbconvert \
            matplotlib
          
          # Install celltypist with pip
          pip install celltypist
      
      - name: Run Week 6 Notebook
        shell: bash -l {0}
        run: |
          # Execute the Week 6 notebook
          jupyter execute week6/week6.ipynb
